

<div class="container">
    <div class="hero__inner">
        <!-- media -->
        <div class="hero__media">
            <div class="hero__img--wrap">
                <img
                    src="./assets/img/hero_cat.png"
                    alt="cat"
                    class="hero__img"
                />

                <!-- decor -->
                <img
                    src="./assets/img/decor01.svg"
                    alt=""
                    class="hero__decor--top"
                />
                <img
                    src="./assets/img/decor02.svg"
                    alt=""
                    class="hero__decor--bottom"
                />
            </div>

            <div class="hero__img--wrap hero__img--wrap-small">
                <img
                    src="./assets/img/hero-dog.png"
                    alt="cat"
                    class="hero__img--small"
                />
            </div>

            <!-- hero list -->
            <div class="hero-list">
                <div class="hero-list_item">
                    <div class="hero-list-item__img-wrap">
                        <img
                            src="./assets/img/hero_dog-mini.png"
                            alt=""
                            class="hero-list_item-thumb"
                        />
                    </div>

                    <div class="hero-list_item-info">
                        <p class="hero-list_item-title">
                            Pet Health
                        </p>
                        <div
                            class="hero-list_item-skeleton hero-list_item-skeleton--long"
                        ></div>
                        <div
                            class="hero-list_item-skeleton hero-list_item-skeleton--short"
                        ></div>
                    </div>
                </div>
                <div class="hero-list_line"></div>
                <div class="hero-list_item">
                    <div
                        class="hero-list-item__img-wrap hero-list-item__img-wrap-color"
                    >
                        <img
                            src="./assets/img/hero_dog-mini2.png"
                            alt=""
                            class="hero-list_item-thumb"
                        />
                    </div>
                    <div class="hero-list_item-info">
                        <p class="hero-list_item-title">Pet care</p>
                        <div
                            class="hero-list_item-skeleton hero-list_item-skeleton--long"
                        ></div>
                        <div
                            class="hero-list_item-skeleton hero-list_item-skeleton--short"
                        ></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content -->
        <section class="hero__content">
            <h1 class="hero__heading">
                Established & Trusted Pet Care Service
            </h1>

            <p class="hero__desc">
                Discover a wide variety of Pawsitive services to
                choose from, including daycare, private walks,
                office duty and spa.
            </p>
            <div class="hero__row">
                <a href="#" class="btn hero__cta--btn">
                    Book a Meet
                    <span class="btn__icon">
                        <svg
                            width="5"
                            height="6"
                            viewBox="0 0 5 6"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1.48584 0.5L3.98584 3L1.48584 5.5"
                                stroke="#FD5056"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                </a>
                <a href="#!" class="hero__cta--link"
                    >Schedule a Call</a
                >
            </div>
        </section>
    </div>
</div>