<div class="container">
    <section class="pricing__top">
        <h2 class="section__heading pricing__heading">
            The Best Choice
        </h2>
        <p class="section__desc pricing__desc">
            We offer long-term and short-term boarding. Every
            dog has its own private, spacious room and daily
            individual time in our large play yard.
        </p>
        <div class="pricing__switch-wrap">
            <div class="pricing__switch-inner">
                <!-- Switch -->
                <div class="pricing__switch">
                    <input
                        type="checkbox"
                        name=""
                        id="pricing-switch"
                        class="pricing__switch-input"
                        checked
                        hidden
                    />
                    <label
                        for="pricing-switch"
                        class="pricing__switch-label"
                    >
                        <span class="pricing__switch-value">
                            Monthly
                        </span>
                        <span class="pricing__switch-value">
                            Yearly
                        </span>
                    </label>
                </div>

                <!-- Sale off -->
                <img
                    src="./assets/img/pricing-sale-off.svg"
                    alt=""
                    class="pricing__sale-off"
                />
            </div>
        </div>
    </section>
    <div class="pricing__list">
        
    </div>

</div>