<div class="container">
    <div class="service__top">
        <p class="service__desc">What we do for you?</p>
        <h2 class="service__heading section__heading">Our Services</h2>
    </div>

    <div class="service__body">
        <div class=" service__column service__column1">

        </div>

        <div class="service__column">
            <figure class="service__media">
                <img
                    src="./assets/img/image-section4.png"
                    alt=""
                    class="service__img"
                />
            </figure>
            <div class="service__cta-wrap">
                <a href="#!" class="btn service__cta">
                    View All Services
                </a>
            </div>
        </div>

        <div class=" service__column service__column2">

        </div>


    </div>
</div>